# OpenWeather API

In this exercise, I use the OpenWeather API to obtain current and historical weather data. The API is based on live and current weather conditions and specified locations. In this analysis I investigate how to obtain, format, and compare data for the weather in my location today, and in the year 2000. I then define and compare multiple locations.

Before conducting this analysis, I first had to access the API and ensured I can correcly make an API call. I set up an OpenWeather account, created a Environment variable for the API key, imported the key into Jupyter Notebook, and generated a simple request.

## OpenWeather API: access and authorisation

__These steps for this section of the analysis are outlined below:__

1. get your OpenWeather API key
2. create a .env file
3. import the .env file into Jupyter Notebook
4. import the API key into Jupyter Notebook
5. connect with the OpenWeather API
6. retrieve weather data.

#### 1. OpenWeather API key

The OpenWeather API key was obtained from the openweathermap website: https://openweathermap.org/api

I set up an account and activated it and noted down the APIkey.

#### 2. Create a .env file

In [17]:
# import OS library to Jupyter Notebook
import os

# set working directory
os.chdir('/Volumes/GoogleDrive/My Drive/LSE Data Analytics/Course 2 - Python for Data Analysis/LSE_DA201_Module_5_files/Demonstrations')

#### 3. Import libraries

In [2]:
# Uncomment if you need to install dotenv.
!pip install python-dotenv

import os
import requests
from dotenv import load_dotenv

dotenv_path = '/Volumes/GoogleDrive/My Drive/LSE Data Analytics/Course 2 - Python for Data Analysis/LSE_DA201_Module_5_files/Demonstrations/API.env'

Requirement already satisfied: python-dotenv in /Users/RyanLin/anaconda3/lib/python3.11/site-packages (1.0.0)

In [3]:
# Load environment variables from .env file
load_dotenv(dotenv_path)

True

#### 4. Access your OpenWeather API key

In [5]:
# Locate and read the key from your .env file.
API_key = os.getenv('OpenWeather_API_key')

#### 5. Connecting to OpenWeather

In [6]:
# Create an API call, excluding some fields to reduce the output.
weather_url = "https://api.openweathermap.org/data/3.0/onecall?lat=51.509865&lon=-0.118092&exclude=minutely,hourly,daily" "&appid=" + API_key

In [7]:
# Define a response variable.
resp = requests.get(weather_url)

In [13]:
# Print the response (hidden for security reasons).
# print("Today's weather:" , resp.json())

# Obtain current and historical weather data using the OpenWeather API

__These steps for this section of the analysis are outlined below:__

1. Make a list of the locations to obtain weather data for.
2. Decide on the years  to explore for comparison and convert the historical years to Unix timestamps for use in the OpenWeather API call.
3. Check your connection to the API. Confirm the connection by making a basic API call.
4. Obtain the coordinates for your selected locations. 
5. Design an API call with your selected locations and chosen parameters.
6. Print the output with json (and json.dumps() if required).
7. Create formatted DataFrame/s that enable ease of comparison across locations and years.
8. Export your DataFrame to CSV.
9. Save the Notebook to your GitHub repository by uploading and committing any changes.

### Find my latitude and longitude coordinates

In [9]:
# Import the necessary libraries before you start to work.
import os
import requests
import pandas as pd
import json
import pytz
from datetime import datetime
from dotenv import load_dotenv

dotenv_path = '/Volumes/GoogleDrive/My Drive/LSE Data Analytics/Course 2 - Python for Data Analysis/LSE_DA201_Module_5_files/Demonstrations/API.env'

load_dotenv(dotenv_path)

# Access the API key.
API_key = os.getenv('OpenWeather_API_key')

In [12]:
# find my latitude and logitude coorinates 
# Create an API call.
coordinates = "http://api.openweathermap.org/geo/1.0/zip?zip=W9,GB" "&appid=" + API_key

# define response variable 
response = requests.get(coordinates)

# print response (hidden for security reasons)
# print("My coordinates:", response.json())

## 1. Make a list of the locations to obtain weather data

#### Coordinates obtained from wikipedia
1. London:lat=51.5058&lon=-0.1169
2. Taiwan: lat=25.105497&lon=121.597366
3. Artic: lat=76.250580&lon=-100.113953
4. Antartica: lat=-82.862755&lon=135.000000
5. Greece: lat=39.074207&lon=21.824312
6. Brazil: lat=-22.901450&lon=-43.178920
7. Egypt: lat30.033333=&lon=31.233334

In [14]:
# set the API endpoing URL and API key 
endpoint_url = "http://api.openweathermap.org/geo/1.0/direct"
API_key = os.environ.get('OpenWeather_API_key')

# Define list of locations 
locations = [
    {'name': 'London'},
    {'name': 'Taiwan'},
    {'name': 'Arctic'},
    {'name': 'Antartic'},
    {'name': 'Greece'},
    {'name': 'Brazil'},
    {'name': 'Egypt'},
]

# create empty list to store coorindates for each location 
coordinates = []

# loop through each location to get it's coordinates 
for loc in locations: 
    # set api parameters to seach for location by name 
    params = {
        "q": loc['name'],
        "appid": API_key
    }
    
    # send a GET request to the API endpoint and store the response 
    response = requests.get(endpoint_url, params= params)
    
    # extract JSON data from response 
    data = response.json()
    
    # Extract latitude and longitude coordinated and append to list 
    if data: 
        latitude = data[0]["lat"]
        longitude = data[0]["lon"]
        coordinates.append({'name': loc['name'], 'lat': latitude, 'lon': longitude}) 
        
# print list of coorindates for each location 
for coord in coordinates: 
    print(f"{coord['name']}: Latitude = {coord['lat']}, Longitude = {coord['lon']}")
    
# use coordinates list to create the locations list
locations = [{'name': coord['name'], 'lat':coord['lat'], 'lon': coord['lon']} for coord in coordinates]

# Print the locations list 
print(locations)

London: Latitude = 51.5073219, Longitude = -0.1276474
Taiwan: Latitude = 23.5983227, Longitude = 120.83537694479215
Arctic: Latitude = 42.1856379, Longitude = -75.4143448
Antartic: Latitude = -59.9999999, Longitude = 89.9999999
Greece: Latitude = 43.2097838, Longitude = -77.6930602
Brazil: Latitude = 39.523652, Longitude = -87.1250154
Egypt: Latitude = -27.676714, Longitude = 152.0984108763645
[{'name': 'London', 'lat': 51.5073219, 'lon': -0.1276474}, {'name': 'Taiwan', 'lat': 23.5983227, 'lon': 120.83537694479215}, {'name': 'Arctic', 'lat': 42.1856379, 'lon': -75.4143448}, {'name': 'Antartic', 'lat': -59.9999999, 'lon': 89.9999999}, {'name': 'Greece', 'lat': 43.2097838, 'lon': -77.6930602}, {'name': 'Brazil', 'lat': 39.523652, 'lon': -87.1250154}, {'name': 'Egypt', 'lat': -27.676714, 'lon': 152.0984108763645}]

## 2. Exploring the years 1983 and 2023 for comparison and convert the historical years to Unix timestamps for use in the OpenWeather API call

__Years Chosen:__ 1983, 2023

## 3. Obtain the current weather data for multiple locations

In [15]:
# Set the API endpoint URL and API key.
endpoint_url = "https://api.openweathermap.org/data/3.0/onecall"

#Access your API key.
API_key = os.environ.get('OpenWeather_API_key')

# Define a list of coordinates for different locations
locations = [
    {'name': 'London', 'lat': 51.5073219, 'lon': -0.1276474},
    {'name': 'Taiwan', 'lat': 23.5983227, 'lon': 120.83537694479215}, 
    {'name': 'Arctic', 'lat': 42.1856379, 'lon': -75.4143448}, 
    {'name': 'Antartic', 'lat': -59.9999999, 'lon': 89.9999999}, 
    {'name': 'Greece', 'lat': 43.2097838, 'lon': -77.6930602}, 
    {'name': 'Brazil', 'lat': 39.523652, 'lon': -87.1250154},
    {'name': 'Egypt', 'lat': -27.676714, 'lon': 152.0984108763645}
]

# Create an empty list to store the weather data for each location.
weather_data = []

# Loop through each location and get its weather data.
for loc in locations:
    # Set the API parameters.
    params = {
        "lat": loc['lat'],
        "lon": loc['lon'],
        "units": "metric",
        "exclude": "minutely,hourly,daily",
        "appid": API_key
    }

    # Send a GET request to the API endpoint and store the response.
    response = requests.get(endpoint_url, params=params)

    # Access the current weather data.
    current = response.json()['current']

    # Extract the relevant weather information.
    humidity = current['humidity']
    pressure = current['pressure']
    wind = current['wind_speed']
    description = current['weather'][0]['description']
    temp = int(round(current['temp']))
    sunrise = datetime.fromtimestamp(current['sunrise'], tz=pytz.utc).astimezone(pytz.timezone('Europe/London'))
    sunset = datetime.fromtimestamp(current['sunset'], tz=pytz.utc).astimezone(pytz.timezone('Europe/London'))

    # Add the weather data to the list.
    weather_data.append({
        'Location': loc['name'],
        'Temperature (°C)': temp,
        'Wind Speed (m/s)': wind,
        'Pressure (hPa)': pressure,
        'Humidity (%)': humidity,
        'Description': description,
        'Sunrise': sunrise,
        'Sunset': sunset
    })

# Print the weather data in a tabular format.
print("Location\tTemperature (°C)\tWind Speed (m/s)\tPressure (hPa)\tHumidity (%)\tDescription\tSunrise\t\t\t\tSunset")
for data in weather_data:
    print(f"{data['Location']}\t\t{data['Temperature (°C)']}\t\t{data['Wind Speed (m/s)']}\t\t{data['Pressure (hPa)']}\t\t{data['Humidity (%)']}\t\t{data['Description']}\t{data['Sunrise'].strftime('%Y-%m-%d %H:%M:%S')}\t{data['Sunset'].strftime('%Y-%m-%d %H:%M:%S')}")

Location	Temperature (°C)	Wind Speed (m/s)	Pressure (hPa)	Humidity (%)	Description	Sunrise				Sunset
London		11		8.23		989		83		heavy intensity rain	2023-12-31 08:06:14	2023-12-31 16:00:04
Taiwan		12		1.54		1019		45		few clouds	2023-12-30 22:38:11	2023-12-31 09:20:06
Arctic		-1		3.63		1010		90		overcast clouds	2023-12-30 12:29:58	2023-12-30 21:37:53
Antartic		1		7.9		976		92		overcast clouds	2023-12-30 20:40:30	2023-12-31 15:24:32
Greece		1		2.68		1009		83		overcast clouds	2023-12-30 12:42:30	2023-12-30 21:43:35
Brazil		2		3.09		1013		89		clear sky	2023-12-30 13:08:31	2023-12-30 22:33:03
Egypt		25		5.62		1015		71		clear sky	2023-12-30 18:58:01	2023-12-31 08:50:05

## 4. Create a DataFrame for current weather

In [16]:
# create dataframe from list of dictionaries
df1 = pd.DataFrame(weather_data)

styled_df = df1.style \
    .set_caption("Current Weather DataFrame") \
    .set_properties(**{'text-align': 'center'}) \
    .set_table_styles([{'selector': 'th', 'props': [('text-align', 'center')]}]) \
    .background_gradient(cmap='viridis', low=0, high=1)

#display the styled dataframe
display(styled_df)

# export dataframe to csv
df1.to_csv('my_current_data.csv', index=False)

## 5. Obtain historical data for the selected locations for 1983 03/08 - timestamp: 428769807¶

In [22]:
# Set the API endpoint URL and API key.
# Create an API call for the historical weather in your locations. 
# The timestamp can be seen towards the end of the endpoint_url
endpoint_url = "https://api.openweathermap.org/data/3.0/onecall/timemachine?dt=428769807"
#Access your API key.
API_key = os.environ.get('OpenWeather_API_key')


# Define a list of coordinates for different locations
locations = [
    {'name': 'London', 'lat': 51.5073219, 'lon': -0.1276474},
    {'name': 'Taiwan', 'lat': 23.5983227, 'lon': 120.83537694479215}, 
    {'name': 'Arctic', 'lat': 42.1856379, 'lon': -75.4143448}, 
    {'name': 'Antartic', 'lat': -59.9999999, 'lon': 89.9999999}, 
    {'name': 'Greece', 'lat': 43.2097838, 'lon': -77.6930602}, 
    {'name': 'Brazil', 'lat': 39.523652, 'lon': -87.1250154},
    {'name': 'Egypt', 'lat': -27.676714, 'lon': 152.0984108763645}
]

# Create an empty list to store the weather data for each location.
hist_weather_data = []

# Loop through each location and get its weather data.
for loc in locations:
    # Set the API parameters.
    params = {
        "lat": loc['lat'],
        "lon": loc['lon'],
        "units": "metric",
        "exclude": "minutely,hourly,daily",
        "appid": API_key
    }

    # Send a GET request to the API endpoint and store the response.
    response = requests.get(endpoint_url, params=params)


    # Access the historical weather data.
    data = response.json()['data'][0]

    # Extract the relevant weather information.
    humidity =  data['humidity']
    pressure =  data['pressure']
    wind =  data['wind_speed']
    description =  data['weather'][0]['description']
    temp = int(round( data['temp']))
    sunrise = datetime.fromtimestamp(data['sunrise'], tz=pytz.utc).astimezone(pytz.timezone('Europe/London'))
    sunset = datetime.fromtimestamp(data['sunset'], tz=pytz.utc).astimezone(pytz.timezone('Europe/London'))

    # Add the weather data to the list.
    hist_weather_data.append({
        'Location': loc['name'],
        'Temperature (°C)': temp,
        'Wind Speed (m/s)': wind,
        'Pressure (hPa)': pressure,
        'Humidity (%)': humidity,
        'Description': description,
        'Sunrise': sunrise,
        'Sunset': sunset
    })

# Print the weather data in a tabular format.
print("Location\tTemperature (°C)\tWind Speed (m/s)\tPressure (hPa)\tHumidity (%)\tDescription\tSunrise\t\t\t\tSunset")
for data in hist_weather_data:
    print (f"{data['Location']}\t\t{data['Temperature (°C)']}\t\t{data['Wind Speed (m/s)']}\t\t{data['Pressure (hPa)']}\t\t{data['Humidity (%)']}\t\t{data['Description']}\t\t\{data['Sunrise'].strftime('%Y-%m-%d %H:%M:%S')}\t{data['Sunset'].strftime('%Y-%m-%d %H:%M:%S')}")

Location	Temperature (°C)	Wind Speed (m/s)	Pressure (hPa)	Humidity (%)	Description	Sunrise				Sunset
London		21		2.1		1027		41		few clouds		\1983-08-03 05:26:58	1983-08-03 20:46:20
Taiwan		18		0.47		1017		90		scattered clouds		\1983-08-02 22:27:06	1983-08-03 11:38:32
Arctic		24		1.12		1024		62		clear sky		\1983-08-03 10:56:36	1983-08-04 01:18:58
Antartic		0		15.51		964		90		light snow		\1983-08-03 03:11:05	1983-08-03 11:01:14
Greece		26		1.34		1023		56		overcast clouds		\1983-08-03 11:03:08	1983-08-04 01:30:40
Brazil		30		1.86		1021		50		overcast clouds		\1983-08-03 11:49:48	1983-08-04 01:59:27
Egypt		4		1.9		1026		86		clear sky		\1983-08-03 21:31:29	1983-08-04 08:23:55

## 6. Create a DataFrame for historical weather

In [23]:
# Create a data frame from the list of dictionaries.
df2 = pd.DataFrame(hist_weather_data)

styled_df = df2.style \
    .set_caption("Example DataFrame") \
    .set_properties(**{'text-align': 'center'}) \
    .set_table_styles([{'selector': 'th', 'props': [('text-align', 'center')]}]) \
    .background_gradient(cmap='viridis', low=0, high=1)

# display the styled DataFrame
display(styled_df)

# export dataframe to csv
df2.to_csv('my_hist_data.csv', index=False)

## 7. Combine the DataFrames for comparison

In [25]:
weather_comparison = pd.merge(df1[['Location','Temperature (°C)']], df2[['Location','Temperature (°C)']],
                           how='outer', on='Location', suffixes=('_Current', '_Past'))

styled_df = weather_comparison.style \
    .set_caption("Comparison") \
    .set_properties(**{'text-align': 'center'}) \
    .set_table_styles([{'selector': 'th', 'props': [('text-align', 'center')]}]) \
    .background_gradient(cmap='viridis', low=0, high=1)

# display the styled DataFrame
display(styled_df)
# export dataframe to csv
weather_comparison.to_csv('combined_weather_data.csv', index=False)

   Location  Temperature (°C)_Current  Temperature (°C)_Past
0    London                        20                     21
1    Taiwan                        17                     18
2    Arctic                        23                     24
3  Antartic                       -12                      0
4    Greece                        27                     26
5    Brazil                        27                     30
6     Egypt                        11                      4

## Significant differences in weather conditions now and in 1983

* For most locations (London, Taiwan, Arctic), the temperature differences are relatively small (1°C difference), with temperatures being slightly cooler in 2023 compared to 1983.
* In Antarctica, there is a significant temperature difference, with 2023 being much colder (-12°C difference) compared to 1983. This could be due to natural climate variability in the region.
* In Greece and Brazil, temperatures are slightly cooler in 2023 compared to 1983.
* Egypt stands out as a location with a significant temperature increase of +7°C in 2023 compared to 1983. This could be due to a combination of natural climate variability and the influence of climate change.
* A thorough analysis would require more extensive historical data and consideration of regional climate patterns and trends.